<h1>Calificaciones</h1>
<%= link_to "Back", "/user/dashboard" %>
<br/>
<br/>
<table border="1">
	<tr>
		<th></th>
		<th colspan="3">Primer Parcial</th>
		<th colspan="3">Segundo Parcial</th>
		<th colspan="3">Tercer Parcial</th>
		<th colspan="3">Cuarto Parcial</th>
		<th>Total General</th>
	</tr>
	<tr>
		<th>Materia</th>

		<th>Examen</th>
		<th>Acumulado</th>
		<th>Total</th>

		<th>Examen</th>
		<th>Acumulado</th>
		<th>Total</th>

		<th>Examen</th>
		<th>Acumulado</th>
		<th>Total</th>

		<th>Examen</th>
		<th>Acumulado</th>
		<th>Total</th>

		<th>Promedio</th>
	</tr>
	<% @subjects.each do |subject| %>
	<tr>
		<td><%= subject.name %></td>
		<% student_note = @student_scores.find_by_subject_id(subject.id) %>
		<% if student_note %>
			<% total_1 = student_note.examen_1 + student_note.acumulado_1 %>
			<% total_2 = student_note.examen_2 + student_note.acumulado_2 %>
			<% total_3 = student_note.examen_3 + student_note.acumulado_3 %>
			<% total_4 = student_note.examen_4 + student_note.acumulado_4 %>
			<td><%= student_note.examen_1 %></td>
			<td><%= student_note.acumulado_1 %></td>
			<td><%= total_1 %></td>
			<td><%= student_note.examen_2 %></td>
			<td><%= student_note.acumulado_2 %></td>
			<td><%= total_2 %></td>
			<td><%= student_note.examen_3 %></td>
			<td><%= student_note.acumulado_3 %></td>
			<td><%= total_3 %></td>
			<td><%= student_note.examen_4 %></td>
			<td><%= student_note.acumulado_4 %></td>
			<td><%= total_4 %></td>

			<td><%= (total_1 + total_2 + total_3 + total_4)/4 %></td>
		<% else %>
			<td>0.0</td>
			<td>0.0</td>
			<td>N/A</td>
			<td>0.0</td>
			<td>0.0</td>
			<td>N/A</td>
			<td>0.0</td>
			<td>0.0</td>
			<td>N/A</td>
			<td>0.0</td>
			<td>0.0</td>
			<td>N/A</td>

			<td>N/A</td>
		<% end %>
	</tr>
	<% end %>
</table>
