<%= link_to 'Back', "/employee/get_subjects" %>
<p>
  <b>Subject:</b>
  <%=h @plan.subject.name %>
</p>
<span><b>Ponderation</b></span><br/>
<table>
	<tr>
		<th>Exam 1</th>
		<th>Exam 2</th>
		<th>Exam 3</th>
		<th>Acumulative</th>
		<th></th>
	</tr>
	<tr>
		<td><%=h @plan.examen_1 %></td>
		<td><%=h @plan.examen_2 %></td>
		<td><%=h @plan.examen_3 %></td>
		<td><%=h @plan.acumulado %></td>
		<td><%= link_to 'Edit', edit_plan_path(@plan) %> </td>
	</tr>
</table>

<h2>Subject students</h2>
<table border="1">
	<tr>
		<th>Admission number</th>
		<th>Student name</th>
		<th>Student last name</th>
		<th>Exam 1</th>
		<th>Exam 2</th>
		<th>Exam 3</th>
		<th>Acumulative</th>
		<th>Result</th>
		<th></th>
	</tr>
	<% subjectId = @plan.subject.id %>
  <% @plan.subject.batch.students.each do |student| %>
	<tr>
		<td><%= student.admission_no %></td>
		<td><%= student.first_name %></td>
		<td><%= student.last_name %></td>
		<% student_note = student.notas.find_by_subject_id(subjectId) %>
		<% if student_note %>
			<td><%= student_note.examen_1 %></td>
			<td><%= student_note.examen_2 %></td>
			<td><%= student_note.examen_3 %></td>
			<td><%= student_note.acumulado %></td>
			<td><%= student_note.examen_1+student_note.examen_2+student_note.examen_3+
							student_note.acumulado %></td>
			<td><%= link_to "Grade", edit_nota_path(student_note.id) %></td>
		<% else %>
			<td>0.0</td>
			<td>0.0</td>
			<td>0.0</td>
			<td>0.0</td>
			<td>N/A</td>
			<td><%= link_to "Grade", new_student_score_path(:id => subjectId, 
																												:id2 => student.id) %></td>
		<% end %>
	</tr>
	<% end %>
</table>
